*{
    margin: 0;
    padding: 0;
}

header{
    margin: 200px;

}
section{
    margin: 200px;
}

.im{
    margin-top: 40px;
   
}
.head{
    display: flex;
    font-size: 25px;
    height: 100vh;

}
.navbar{
    margin: auto;
    padding: 40px 120px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px  rgb(192, 192, 192);
    justify-content: space-between;
  
}
.nav-links{
    display: flex;
    gap: 1rem;
    list-style: none;


}
.nav-link ,.drop-down li{
    list-style: none;
    height: 100%;
    padding: 1rem ;
    cursor: pointer;
    
}
a{
    text-decoration: none;
    color: black;
}
.drop-down{
    position: absolute;
    padding: 0.5rem 0;
    margin: 0.5rem -0.5rem;
    background-color: rgb(245, 245, 245);
    color: black;
    box-shadow: 0 4px 12px rgb(0, 0, 0.1);
    border-radius: 0.5rem;  
    display: none;
}
.nav-link:hover{
    border-bottom:4px solid red ; 
    border-radius: 2px;
}
.services:hover .drop-down{
  display: block;

}
.drop-down li:hover{
    border-bottom:4px solid rgb(196, 196, 196) ; 
    border-radius: 2px;   
}
.bold{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
.light{
   
    font-size: 25px;   
    color: rgb(54, 54, 54);
    font-weight: unset;
    line-height: 2;
    word-spacing: 2px;

}
.link{
    color: rgb(163, 35, 35);
    text-decoration: underline;
}
.point{
 font-size: 20px;
 padding-left: 50px;
 word-spacing: 1px;
 line-height: 2;
}
.s{
    font-size: 20px;
 padding-left: 50px;
 list-style: square;
 word-spacing: 1px;

}
.icon{
    padding: 10px;
   
}

button{
    font-size:20px;
    margin: 10px;
    border-radius: 60px;
    border: 3px solid black;
}
i{
    padding: 20px;
}
.facebook:hover{
    background-color: blue;
    color: white;
    border: 4px solid rgb(72, 72, 255);
}
.twitter:hover{
    background-color:black ;
    color: white;
    border: 4px solid rgb(110, 110, 110);

}
.pin:hover{
    background-color: red;
    color: white;
    border: 6px solid rgb(255, 110, 110);
}
.tour1{
    height: 40vh;
    width: 50vh;
    margin: 10px;
}
.tour-content{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,auto));
  align-items: center;
  gap: 3rem;
  margin: top 5rem;
}
.box{
    position: relative;

}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(70%);
    transition: all.3s cubic-bezier(.499,.05,.55,.95);
    
}
.box h2{
    position: absolute;
    left: 25px;
    bottom: 70px;
    font-size: 19px;
    font-weight: 500;
    color: white;


}
.product-name{
    position: absolute;
    left: 30px;
    bottom: 100px;
    font-size: 19px;
    font-weight: 500;
    color: white;


}
.trip{
    position: absolute;
    left: 150px;
    bottom: 40px;
    font-size: 19px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 5px;
    border: 10x solid black;
    
}
.viwe{
    color: white;
}
.viwe:hover{
    background-color: white;
    color: black;
}
.trip:hover{
    background-color: white;
    color: black;
}
.dia{
    padding-top: 50px;
    
}
.dia h3 {
    padding-top: 90px;
   text-wrap: 50px;
   margin-left: 60px;
  
   
}
.dia img{
    border-radius: 50px;
}
.dia p {
    padding-top: 10px;
   text-wrap: 50px;
   margin-left: 60px;

}
.last{
    text-align: center;
   
}
#food{
    background-color: black;
    width: 100%;
    height: 30vh;
    margin: 0;
    padding: 0;
}
.ba{
    width: 100%;
    background-color: black;

}

.t ul{
    display:flex;
    justify-content: space-between;

    margin-left: 50px;
    color: #fff;
    list-style: none;
    font-size: xx-large;

} 
.jp{
    color: #fff;
}  
